<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Dados Financeiros</title>

    {% load static %}

    <!-- Link para os arquivos de CSS -->
    <link rel="stylesheet" href="{% static 'css/go_back.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">    

</head>
<body>

    <div class="go_back_container">
        <div class="div_go_back">
            <a href="/" class="go_back_link">Voltar</a>
        </div>
    </div>

    <!-- Onde é exibido os erros de formulário
    {% if form.errors %}
        <div class="error-message">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li><strong>{{ field }}:</strong> {{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

     Onde é exibido as mensagens de sucesso
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    -->

    <div class="container">

        <h1>Preencha os Dados Financeiros</h1>
        
        <form class="form" method="POST">

            {% csrf_token %}

            {{ form.as_p }}  <!-- Onde é renderizado todos os campos do formulário automaticamente -->
            
            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>

</body>
</html>
