<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sucesso - Importação dos Dados para o Banco de Dados</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/redirect_form.css' %}">

</head>
<body>
    
    <h1 class="headlines">Formulário enviado com sucesso!</h1>
    <p class="return_message">Os dados foram salvos corretamente.</p>

    <div class="home_link_div">

        <a href="/" class="go_to_home_link">Voltar à página inicial</a>

    </div>

</body>
</html>
